{% extends 'base.html' %}

{% block title %}Article list{% endblock %}

{% block body %}
    <h1>This is Article list</h1>
    <a href="{% url 'board:new_article' %}">글쓰기</a>
    {% if articles %}
    <!-- 게시글이 있으면, -->
        <ul>
            <!-- articles 는 모든 게시글 객체인데, 글이 하나도 없다면 어떻게 될까? > 위의 if 문으로 연결 -->
            {% for article in articles %}
                <li>
                    <a href="{{ article.get_absolute_url }}">
                        {{ article.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
